/* IE styles */
.cor-r{top:0px; _right: expression((this.parentNode.offsetWidth % 2 == 0) ? "0px": "-1px");}
.cor-bl{_bottom: expression((this.parentNode.offsetHeight % 2 == 0) ? "0px": "-1px");}
.cor-br{_bottom: expression((this.parentNode.offsetHeight % 2 == 0) ? "0px": "-1px"); _right: expression((this.parentNode.offsetWidth % 2 == 0) ? "0px": "-1px");}

#tools-menu .cor{ _display:none;}

#motive .illust{_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/img/bg/motiv-illust.png');}
#main-menu .cor-l, #motive .cor-l, .product-list-mini .cor-l, .news-box .cor-l{_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/img/bg/cor-9-9-24-l.png');}
#main-menu .cor-r, #motive .cor-r, .product-list-mini .cor-r, .news-box .cor-r{_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/img/bg/cor-9-9-24-r.png');}
#main-menu .cor-bl, #motive .cor-bl, .product-list-mini .cor-bl, .news-box .cor-bl{_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/img/bg/cor-9-9-24-bl.png');}
#main-menu .cor-br, #motive .cor-br, .product-list-mini .cor-br, .news-box .cor-br{_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/img/bg/cor-9-9-24-br.png');}

.product-list-mini .reset li .img, #logo-box  a img, .product-list h3 a img, .product-list-medium h3 a img, .reference-list ul li a img, .news-list ul li a .img img{ background-color: expression(this.onclick = function(){ this.parentNode.click(); }); cursor: pointer;   }

.banner-q{margin-top:10px;}
.banner{zoom:1;}
.banner .cor-bl{background-position:0 -9px;}
.banner .cor-br{background-position:100% -9px;}

